<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Why are you here?</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This is an empty page.</h1>
		<p>There is no reason for you to be here.</p>
		<a href="http://google.com" class="btn btn-primary btn-lg">Leave</a>
	</div>
</div>
	
</body>
</html>